body {
    background-color: rgba(207, 207, 207, 0.932);
}

header {
    background-color: #212529;
}

h1 {
    text-align: center;
    color: aliceblue;
}

a {
    text-decoration: none;
}

a h3 {
    color: #7B6079;
    margin: 20px 0px;
    border: solid #986D8E 4px;
    border-radius: 50px;
    padding: 10px;
}


@media screen and (min-width: 320px) {
    .div-varias-img {
        width: 110px;
    }

    .varias-img {
        border-radius: 20px;
        width: 100%;
        border: solid 4px #7B6079;
    }

    .fs-5 {
        padding: 3px 6px;
        margin: 5px;
    }

    footer {
        background-color: #3D3D3D;
        margin-top: 10px;
        width: 100%;
    }

    .contenedor-section3 {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-items: left;

    }

    .contenedor-section3 div {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: silver;
        font-size: 10px;
    }

    .contenedor-section3 h3 {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: #7B6079;
        font-weight: bold;
        font-size: 15px;
        margin-top: 5px;
    }

    .contenedor-section3 ul {
        list-style-type: none;
        margin: 10px;
    }

    .contenedor-section3 li {
        padding: 2px 0px;
        text-align: left;
        width: 80%;
    }


    .contenedor-section3 img {
        padding: 10px 3px;
        width: 32px;
    }
}

@media screen and (min-width: 425px) {
    .varias-img {
        border-radius: 30px;
        border: solid 4px #7B6079;
    }

}

@media screen and (min-width: 768px) {

    .div-varias-img {
        width: 150px;
    }


    .varias-img {
        border-radius: 30px;
        border: solid 4px #7B6079;
    }

    .fs-5 {
        font-size: 15px;
    }

    .contenedor-section3 {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-top: 30px;
    }

    .contenedor-section3 li {
        font-size: 12px;
        width: 100%;
    }
}

@media screen and (min-width: 1024px) {

    .varias-img {
        border-radius: 35px;
        border: solid 4px #7B6079;
    }
}

@media screen and (min-width: 1366px) {


    .contenedor-section3 h3 {
        font-size: 18px;
    }

    .contenedor-section3 li {
        font-size: 13px;
    }
}