@charset "UTF-8";
body {
  background-color: #FFFFFF;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; }
  body a {
    color: #313335;
    text-decoration: none; }

@media screen and (min-width: 320px) {
  header {
    background-color: #212529;
    width: 100vw;
    position: sticky;
    top: 0;
    z-index: 100; }
    header div {
      width: 100%; }
      header div h1 {
        padding-left: 10px;
        text-align: center;
        color: aliceblue; }
      header div .navbar-collapse {
        margin-top: 5px; }
      header div .nav-link.active {
        text-align: center; }
  main .breadcrumb {
    justify-content: center; }
  main .main-img-logo-w {
    position: fixed;
    z-index: 3;
    width: 32px;
    bottom: 6px;
    right: 3px; }
  main .contenedor-section-pages {
    display: flex;
    justify-content: center;
    margin-bottom: 20px; }
  main .sectionDest div {
    width: 220px; }
  main .sectionDest img {
    max-width: 80%;
    border-radius: 30px;
    padding-top: 10px; }
  main .sectionDest h5 {
    text-align: center; }
  main .sectionDest p {
    text-align: center; }
  main .card {
    margin-top: 15px;
    background-color: #FFFFFF; }
  main .contenedor-section2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-content: center;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    color: #707070;
    font-size: 10px; }
    main .contenedor-section2 div {
      width: 110px; }
    main .contenedor-section2 img {
      border-radius: 20px;
      width: 100%;
      border: solid 3px #7B6079; }
    main .contenedor-section2 p {
      text-align: center;
      padding: 3px 0px;
      margin-bottom: 0px; }
    main .contenedor-section2 .tamaño-p {
      font-size: 15px;
      color: #3D3D3D; }
  main h3 {
    font-size: 1.5rem;
    margin-bottom: 5px;
    font-weight: bold;
    border-radius: 50px;
    padding: 7px;
    margin-top: 10px; }
  main .form-control {
    width: 90%; }
  footer {
    background-color: rgba(0, 0, 0, 0.1);
    margin-top: 10px;
    width: 100%; }
    footer .contenedor-section3 {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      justify-items: left; }
      footer .contenedor-section3 div {
        font-size: 13px; }
      footer .contenedor-section3 h3 {
        font-weight: bold;
        font-size: 18px;
        margin-top: 5px; }
      footer .contenedor-section3 ul {
        list-style-type: none;
        padding-left: 20px; }
      footer .contenedor-section3 li, footer .contenedor-section3 .ul-color {
        padding: 2px 0px;
        text-align: left;
        width: 80%; }
      footer .contenedor-section3 img {
        width: 32px; } }

@media screen and (min-width: 570px) {
  main .contenedor-section2 {
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px; }
    main .contenedor-section2 .sacar-img1 {
      display: block; } }

@media screen and (min-width: 768px) {
  header nav ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin-left: 20px; }
  header nav li, header nav .ul-color {
    list-style: none;
    font-size: 15px;
    margin: 10px 10px; }
  main ol {
    margin-top: 20px;
    margin-left: 20px; }
  main .breadcrumb {
    justify-content: left; }
  main .main-img-logo-w {
    width: 32px;
    right: 8px; }
  main h3 {
    font-size: 1.6rem; }
  main .contenedor-section2 {
    grid-template-columns: repeat(3, 1fr);
    font-size: 15px;
    grid-row-gap: 25px; }
    main .contenedor-section2 div {
      width: 170px; }
    main .contenedor-section2 img {
      border-radius: 30px;
      border: solid 4px #7B6079; }
    main .contenedor-section2 .tamaño-p {
      font-size: 23px; }
    main .contenedor-section2 .sacar-img1 {
      display: block; }
  main .main-h3 {
    font-size: 1.6rem; }
  footer .contenedor-section3 {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 30px; }
    footer .contenedor-section3 li, footer .contenedor-section3 .ul-color {
      font-size: 12px;
      width: 100%; } }

@media screen and (min-width: 1024px) {
  header .navbar {
    padding-top: 0px;
    padding-bottom: 0px;
    align-items: baseline; }
  header nav h1 {
    font-size: 28px;
    padding-left: 18px; }
  header nav li, header nav .ul-color {
    font-size: 15px; }
  main .main-img-logo-w {
    width: 40px;
    bottom: 8px; }
  main h3 {
    font-size: 1.7rem; }
  main .contenedor-section2 {
    grid-template-columns: repeat(4, 1fr);
    font-size: 15px; }
    main .contenedor-section2 img {
      border-radius: 35px;
      border: solid 4px #7B6079; }
    main .contenedor-section2 .sacar-img1 {
      display: block; }
    main .contenedor-section2 .sacar-img {
      display: block; } }

@media screen and (min-width: 1366px) {
  header nav h1 {
    font-size: 30px; }
  header nav li, header nav .ul-color {
    font-size: 20px; }
  main h3 {
    font-size: 2rem; }
  main .contenedor-section2 {
    font-size: 16px;
    grid-column-gap: 40px;
    grid-row-gap: 70px; }
    main .contenedor-section2 div {
      width: 190px; }
    main .contenedor-section2 img {
      border-radius: 40px; }
    main .contenedor-section2 .tamaño-p {
      font-size: 25px; }
  footer .contenedor-section3 h3 {
    font-size: 18px; }
  footer .contenedor-section3 li, footer .contenedor-section3 .ul-color {
    font-size: 13px; } }

.animacion li, .animacion .ul-color {
  display: inline-block;
  position: relative; }
  .animacion li:after, .animacion .ul-color:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: white;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out; }
  .animacion li:hover, .animacion .ul-color:hover {
    transform: scale(0.9); }
    .animacion li:hover:after, .animacion .ul-color:hover:after {
      transform: scaleX(1);
      transform-origin: bottom left; }

.animacion h3 {
  display: inline-block;
  position: relative; }
  .animacion h3:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 4px;
    bottom: 0;
    left: 0;
    background-color: #3c3c86;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out; }
  .animacion h3:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left; }

.animacion img:hover {
  transform: scale(0.9); }

.color-subtitle {
  color: #212529; }

.color-title {
  color: aliceblue; }

.ul-color {
  color: black; }

.nav-link.active {
  margin: 8px;
  text-align: center; }
