body {
  background-color: rgba(207, 207, 207, 0.932);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; }
  body a {
    color: white;
    text-decoration: none; }

@media screen and (min-width: 320px) {
  header div {
    background-color: #212529;
    width: 100%; }
    header div h1 {
      padding-left: 10px;
      text-align: center; }
    header div .navbar-collapse {
      margin-top: 10px; }
    header div li {
      margin: auto;
      position: auto; }
  main h3 {
    font-size: 1.5rem;
    margin-bottom: 5px;
    font-weight: bold;
    border: solid #986D8E 3px;
    border-radius: 50px;
    padding: 7px;
    margin-top: 20px; }
  main .form-control {
    width: 90%; }
  footer {
    background-color: #3D3D3D;
    margin-top: 10px;
    width: 100%; }
    footer .contenedor-section3 {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      justify-items: left; }
      footer .contenedor-section3 div {
        font-size: 10px; }
      footer .contenedor-section3 h3 {
        color: #7B6079;
        font-weight: bold;
        font-size: 15px;
        margin-top: 5px; }
      footer .contenedor-section3 ul {
        list-style-type: none;
        padding-left: 20px; }
      footer .contenedor-section3 li {
        padding: 2px 0px;
        text-align: left;
        width: 80%; }
      footer .contenedor-section3 img, footer .contenedor-section3 .img-style {
        width: 35px; } }

@media screen and (min-width: 768px) {
  header nav ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%; }
  header nav li {
    list-style: none;
    font-size: 15px;
    margin: 10px 10px; }
  main h3 {
    font-size: 1.3rem; }
  footer .contenedor-section3 {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 30px; }
    footer .contenedor-section3 li {
      font-size: 12px;
      width: 100%; } }

@media screen and (min-width: 1024px) {
  header nav li {
    font-size: 18px; }
  main h3 {
    font-size: 1.7rem; } }

@media screen and (min-width: 1366px) {
  main h3 {
    font-size: 2rem; }
  footer .contenedor-section3 h3 {
    font-size: 18px; }
  footer .contenedor-section3 li {
    font-size: 13px; } }

.animacion li:hover {
  transform: scale(0.9); }

.animacion h3:hover {
  background-color: #3D3D3D;
  border-color: #3D3D3D;
  color: white; }

.color-subtitle {
  color: #7B6079; }

.color-title {
  color: aliceblue; }

.color-list {
  color: silver; }

.img-style {
  border: solid white 2px;
  border-radius: 12px; }

.nav-link.active {
  margin: 8px;
  text-align: center; }
