.animacion {
    li {
        &:hover {
            transform: scale(0.9);
        }
    }

    h3 {
        &:hover {
            background-color: #3D3D3D;
            border-color: #3D3D3D;
            color: white;
        }
    }

    img {
        &:hover {
            transform: scale(0.9);
        }
    }
}

