body {
    background-color: #FFFFFF;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    a {
        color: #313335;
        text-decoration: none;
    }
}

@media screen and (min-width: 320px) {

    header {
        background-color: $fondo-dark;
        width: 100%;
        position: sticky;
        top: 0;
        z-index: 100;

        div {
            width: $ancho;

            h1 {
                padding-left: 10px;
                text-align: center;
                color: aliceblue;
            }

            .navbar-collapse {
                margin-top: 5px;
            }

            .nav-link.active {
                text-align: center;
            }

        }
    }

    // ----------------------------------------------------------- main

    main {

        .breadcrumb {
            justify-content: center;
        }

        // Logo de wsp

        .main-img-logo-w {
            position: fixed;
            z-index: 3;
            width: $max-img;
            bottom: 6px;
            right: 3px;
        }


        //----------------------------------------------- Contenedor de fotos de los demas html 
        .contenedor-section-pages {
            display: flex;
            justify-content: center;
            margin-bottom: 20px;


        }

        //------------------------------------------------ Estilos para las imagenes de card
        .sectionDest {
            div {
                width: 220px;
            }

            img {
                max-width: 80%;
                border-radius: 30px;
                padding-top: 10px;
            }

            h5{
                text-align: center;
            }

            p{
                text-align: center;
            }
        }

        .card {
            margin-top: 15px;
            background-color: #FFFFFF;
        }




        //--------------------------------------------------- contenedor de section de imagenes
        .contenedor-section2 {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            justify-items: center;
            align-content: center;
            grid-column-gap: 20px;
            grid-row-gap: 20px;
            color: rgb(112, 112, 112);
            font-size: 10px;

            div {
                width: 110px;
            }

            img {
                border-radius: 20px;
                width: $ancho;
                border: solid 3px $border-color-img;
            }

            p {
                text-align: center;
                padding: 3px 0px;
                margin-bottom: 0px;
            }

            .tamaño-p {
                font-size: 15px;
                color: #3D3D3D;
            }
        }

        //---------------------------------------------------------- Estilo del subtitulo
        h3 {
            font-size: 1.5rem;
            margin-bottom: 5px;
            font-weight: bold;
            border-radius: 50px;
            padding: 7px;
            margin-top: 10px;
        }

        .form-control {
            width: 90%;
        }
    }

    //--------------------------------------------------------------------- Footer

    footer {
        background-color: rgba(0, 0, 0, 0.1);
        margin-top: 10px;
        width: $ancho;

        .contenedor-section3 {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            justify-items: left;

            div {
                font-size: 13px;
            }

            h3 {
                font-weight: bold;
                font-size: 18px;
                margin-top: 5px;
            }

            ul {
                list-style-type: none;
                padding-left: 20px;
            }

            li {
                padding: 2px 0px;
                text-align: left;
                color: $li-color;
            }

            img {
                width: $max-img;
                text-align: center;
            }

        }
    }
}