@media screen and (min-width: 1024px) {

    // ------------------------------------------  header
    header {
        
        .navbar{
            padding-top: 0px;
            padding-bottom: 0px;
            align-items: baseline;
        }
        nav {
            h1{
                font-size: 28px;
                padding-left: 18px;
            }
            li {
                font-size: 15px;
            }
        }
    }

    // ------------------------------------------ main
    main {

        // ------------------------------------------  logo wsp
        .main-img-logo-w {
            width: 40px;
            bottom: 8px;
        }

        h3 {
            font-size: 1.7rem;
        }

        // ------------------------------------------  contenedor de img
        .contenedor-section2 {
            grid-template-columns: repeat(4, 1fr);
            font-size: 15px;

            img {
                border-radius: 35px;
                border: solid 4px $border-color-img;
            }
        }
    }
}