@media screen and (min-width: 768px) {

    header {
        nav {
            ul {
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                width: $ancho;
                margin-left: 20px;
            }

            li {
                list-style: none;
                font-size: 15px;
                margin: 10px 10px;
            }
        }
    }

    main {

        ol{
            margin-top: 20px;
            margin-left: 20px;
        }
        .breadcrumb{
            justify-content: left;
        }               

        .main-img-logo-w {
            width: $max-img;
            right: 8px;
        }

        h3 {
            font-size: 1.6rem;
        }

        .contenedor-section2 {
            grid-template-columns: repeat(3, 1fr);
            font-size: 15px;
            // grid-column-gap: 25px;
            grid-row-gap: 25px;

            div {
                width: 170px;
            }

            img {
                border-radius: 30px;
                border: solid 4px $border-color-img;
            }

            .tamaño-p {
                font-size: 23px;
            }

            .sacar-img1 {
                display: block;
            }
        }

        .main-h3 {
            font-size: 1.6rem;
        }

    }

    footer {

        .contenedor-section3 {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            margin-top: 30px;

            li {
                font-size: 12px;
            }
        }
    }


}