@media screen and (min-width: 1366px) {
    main {
        h3 {
            font-size: 2rem;
        }
    }

    footer {
        .contenedor-section3 {
            h3 {
                font-size: 18px;
            }

            li {
                font-size: 13px;
            }
        }
    }
}