@media screen and (min-width: 1366px) {

    header {
        nav {
            h1 {
                font-size: 30px;
            }

            li {
                font-size: 20px;
            }
        }
    }

    main {
        h3 {
            font-size: 2rem;
        }

        .contenedor-section2 {
            font-size: 16px;
            grid-column-gap: 40px;
            grid-row-gap: 70px;

            div {
                width: 190px;
            }

            img {
                border-radius: 40px;
            }

            .tamaño-p {
                font-size: 25px;
            }
        }
    }

    footer {
        .contenedor-section3 {
            h3 {
                font-size: 18px;
            }

            li {
                font-size: 13px;
            }
        }
    }
}